/* Profile Header
-------------------------------------------------- */

.meta {
    display: table;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
}

label {
    color: #999;
    display: table-cell;
    font-size: .8em;
    font-weight: 400;
    padding-right: 10px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

ul {
    margin: 0 0 20px 0;
    padding: 0;
}

ul.meta li {
    display: table-row;
}

.updated {
    margin-top: 15px;
}

.compare {
    margin-top: 10px;
    /*margin-right: 10px;*/
}

.athlete-info {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    /*background-color: #FAFAFA;*/
}

.athlete-info p,
.bio-item,
.bio-item a {
    color: #555;
}

.athlete-info h2 {}

.bio-item a {
    font-size: 13px;
}

.avatar {
    padding-top: 18px;
    padding-bottom: 10px;
    padding-right: 10px;
    float: left;
    margin-top: 5px;
    width: 200px;
}

.avatar img {
    width: 200px;
    height: 135px;
    margin: auto;
    display: block;
}

.nav-tabs {
    margin-top: 10px;
    border-bottom: none;
}

.nav-tabs>li>a {
    color: #555;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #333;
    font-weight: bold;
    border-top-width: 4px;
    border-color: #4285EA #e5e5e5 transparent;
}



/*border-color: #f0ad4e #e5e5e5 transparent;*/

.course-picker {
    padding-top: 20px;
}


/* Badges
-------------------------------------------------- */

.badge-total-victory {
    color: #fff;
    background-color: #FFD600;
}

.badge-stage-1 {
    color: #fff;
    background-color: #814CCC;
}



/* Mobile View
-------------------------------------------------- */


/* CSS Method for adding Font Awesome Chevron Icons */

.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: inherit;
}

.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
}

.panel-group {
    margin-top: 20px;
}


.profile-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
