{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
<div>
    <h1>Welcome to Ninja Reference!</h1>
    <p>
        Ninja Reference is an <a href="https://github.com/ninjaref">open-source effort</a> to improve the availability and presentation of data on
        <a href="http://www.nbc.com/american-ninja-warrior">American Ninja Warrior</a>. We track competitors across seasons, courses, and obstacles&mdash;allowing for the level of analysis often found in more traditional sports.
    </p>
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Get started by entering a competitor's name:</label>
            <div id="the-basics">
                <input type="text" class="form-control typeahead" placeholder="Drew Drechsel">
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %} {% block js %} {{ block.super }}
<script type="text/javascript" src="{% static 'vendor/typeahead.bundle.js' %}"></script>
<script type="text/javascript">
    var data = {{ ninjas|safe }};

    var src = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: data
    });

    src.initialize();
    $('#the-basics .typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
    }, {
        displayKey: 'name',
        source: src.ttAdapter(),
        templates: {
        suggestion: function(data) {
            return '<a href="index/' + data.id + '">' + data.name + '</a>'
        }
      }
    });
</script>
{% endblock %}
