<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>NR | Leaderboard</title>
  <!-- Vendor CSS -->
  <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/vendor/DataTables/dataTables.bootstrap4.min.css"/>
  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">

<link rel="stylesheet" type="text/css" href="/static/core/css/leaderboard.css">

</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">{logo}</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard/">Leaderboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stats
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Seasons</a>
            <a class="dropdown-item" href="#">Courses</a>
            <a class="dropdown-item" href="#">Obstacles</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contribute</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">

  <div class="alert alert-info" role="alert">
    <strong>Heads up!</strong> Clicking on any of the names below will take you to an individualized profile containing career, course, and obstacle statistics.
  </div>
  <ul id="tabs" class="nav nav-pills" data-tabs="tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#overall" data-toggle="tab">Overall</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#men" data-toggle="tab">Men</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#women" data-toggle="tab">Women</a>
    </li>
  </ul>
  <div id="my-tab-content" class="tab-content" style="display: none;">
    <div class="tab-pane active" id="overall">
      <table id="leaderboard-overall" class="table table-striped" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Speed</th>
            <th>Consistency</th>
            <th>Success</th>
            <th>Ninja Rating</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>1</td>
            <td><a href="72">Isaac Caldiero</a></td>
            <td>105.85</td>
            <td>30.00</td>
            <td>72.00</td>
            <td>207.85</td>
          </tr>

          <tr>
            <td>2</td>
            <td><a href="191">Geoff Britten</a></td>
            <td>79.18</td>
            <td>39.00</td>
            <td>72.00</td>
            <td>190.18</td>
          </tr>

          <tr>
            <td>3</td>
            <td><a href="198">Joe Moravsky</a></td>
            <td>82.37</td>
            <td>31.00</td>
            <td>56.00</td>
            <td>169.37</td>
          </tr>

          <tr>
            <td>4</td>
            <td><a href="293">Kevin Bull</a></td>
            <td>86.66</td>
            <td>22.00</td>
            <td>56.00</td>
            <td>164.66</td>
          </tr>

          <tr>
            <td>5</td>
            <td><a href="76">Lance Pekus</a></td>
            <td>71.50</td>
            <td>25.00</td>
            <td>56.00</td>
            <td>152.50</td>
          </tr>

          <tr>
            <td>6</td>
            <td><a href="38">Daniel Gil</a></td>
            <td>69.83</td>
            <td>16.00</td>
            <td>56.00</td>
            <td>141.83</td>
          </tr>

          <tr>
            <td>7</td>
            <td><a href="147">Flip Rodriguez</a></td>
            <td>65.97</td>
            <td>16.00</td>
            <td>56.00</td>
            <td>137.97</td>
          </tr>

          <tr>
            <td>8</td>
            <td><a href="281">Grant McCartney</a></td>
            <td>58.23</td>
            <td>16.00</td>
            <td>56.00</td>
            <td>130.23</td>
          </tr>

          <tr>
            <td>9</td>
            <td><a href="19">Brent Steffensen</a></td>
            <td>56.77</td>
            <td>16.00</td>
            <td>56.00</td>
            <td>128.77</td>
          </tr>

          <tr>
            <td>10</td>
            <td><a href="143">Drew Drechsel</a></td>
            <td>49.55</td>
            <td>22.00</td>
            <td>56.00</td>
            <td>127.55</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="men">
      <table id="leaderboard-men" class="table table-striped" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Speed</th>
            <th>Consistency</th>
            <th>Success</th>
            <th>Ninja Rating</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>1</td>
            <td><a href="">Isaac Caldiero</a></td>
            <td>105.85</td>
            <td>30.00</td>
            <td>72.00</td>
            <td>207.85</td>
          </tr>

          <tr>
            <td>2</td>
            <td><a href="">Geoff Britten</a></td>
            <td>79.18</td>
            <td>39.00</td>
            <td>72.00</td>
            <td>190.18</td>
          </tr>

          <tr>
            <td>3</td>
            <td><a href="">Joe Moravsky</a></td>
            <td>82.37</td>
            <td>31.00</td>
            <td>56.00</td>
            <td>169.37</td>
          </tr>

          <tr>
            <td>4</td>
            <td><a href="">Kevin Bull</a></td>
            <td>86.66</td>
            <td>22.00</td>
            <td>56.00</td>
            <td>164.66</td>
          </tr>

          <tr>
            <td>5</td>
            <td><a href="">Lance Pekus</a></td>
            <td>71.50</td>
            <td>25.00</td>
            <td>56.00</td>
            <td>152.50</td>
          </tr>

          <tr>
            <td>6</td>
            <td><a href="">Daniel Gil</a></td>
            <td>69.83</td>
            <td>16.00</td>
            <td>56.00</td>
            <td>141.83</td>
          </tr>

          <tr>
            <td>7</td>
            <td><a href="">Flip Rodriguez</a></td>
            <td>65.97</td>
            <td>16.00</td>
            <td>56.00</td>
            <td>137.97</td>
          </tr>

          <tr>
            <td>8</td>
            <td><a href="">Grant McCartney</a></td>
            <td>58.23</td>
            <td>16.00</td>
            <td>56.00</td>
            <td>130.23</td>
          </tr>

          <tr>
            <td>9</td>
            <td><a href="">Brent Steffensen</a></td>
            <td>56.77</td>
            <td>16.00</td>
            <td>56.00</td>
            <td>128.77</td>
          </tr>

          <tr>
            <td>10</td>
            <td><a href="">Drew Drechsel</a></td>
            <td>49.55</td>
            <td>22.00</td>
            <td>56.00</td>
            <td>127.55</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="women">
      <table id="leaderboard-women" class="table table-striped" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Speed</th>
            <th>Consistency</th>
            <th>Success</th>
            <th>Ninja Rating</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>1</td>
            <td><a href="">Jessie Graff</a></td>
            <td>41.08</td>
            <td>3.00</td>
            <td>28.00</td>
            <td>72.08</td>
          </tr>

          <tr>
            <td>2</td>
            <td><a href="">Meagan Martin</a></td>
            <td>23.21</td>
            <td>8.00</td>
            <td>32.00</td>
            <td>63.21</td>
          </tr>

          <tr>
            <td>3</td>
            <td><a href="">Michelle Warnky</a></td>
            <td>18.71</td>
            <td>3.00</td>
            <td>28.00</td>
            <td>49.71</td>
          </tr>

          <tr>
            <td>4</td>
            <td><a href="">Kacy Catanzaro</a></td>
            <td>8.43</td>
            <td>2.00</td>
            <td>28.00</td>
            <td>38.43</td>
          </tr>

          <tr>
            <td>5</td>
            <td><a href="">Rose Wetzel</a></td>
            <td>7.21</td>
            <td>2.00</td>
            <td>28.00</td>
            <td>37.21</td>
          </tr>

          <tr>
            <td>6</td>
            <td><a href="">Asya Grechka</a></td>
            <td>2.21</td>
            <td>2.00</td>
            <td>28.00</td>
            <td>32.21</td>
          </tr>

          <tr>
            <td>7</td>
            <td><a href="">Marybeth Wang</a></td>
            <td>1.71</td>
            <td>2.00</td>
            <td>28.00</td>
            <td>31.71</td>
          </tr>

          <tr>
            <td>8</td>
            <td><a href="">Jen Liam</a></td>
            <td>0.00</td>
            <td>3.00</td>
            <td>20.00</td>
            <td>23.00</td>
          </tr>

          <tr>
            <td>9</td>
            <td><a href="">Tiffany Stewart</a></td>
            <td>0.00</td>
            <td>3.00</td>
            <td>20.00</td>
            <td>23.00</td>
          </tr>

          <tr>
            <td>10</td>
            <td><a href="">Felicia Flake</a></td>
            <td>0.00</td>
            <td>2.00</td>
            <td>16.00</td>
            <td>18.00</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

  </div>
  <footer class="footer">
    <div class="container footer-wrapper">
      <p>
        © 2017 Joseph Kato, unless otherwise noted.
      </p>
    </div>
  </footer>


  <script src="/static/vendor/jquery-2.1.4.min.js"></script>
  <script src="/static/vendor/tether.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/vendor/DataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#leaderboard-overall').DataTable({
    'bFilter': false,
    'bPaginate': false,
    'bInfo': false
  });
  $('.tab-content').show();
  $('#leaderboard-men').DataTable({
    'bFilter': false,
    'bPaginate': false,
    'bInfo': false
  });
  $('#leaderboard-women').DataTable({
    'bFilter': false,
    'bPaginate': false,
    'bInfo': false
  });
});
</script>

</body>

</html>
