{% extends 'base.html' %}
{% load static %}

{% block title %} {{ name }} {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="athlete-info">
    <div class="container">
        <div class="profile-header">
            <div class="bio row">
                <div class="col-sm-6">
                    <div class="heading">{{ name }}</div>
                    <div class="details">
                        <div class="info">{{ ninja.sex }}, {{ ninja.age }}
                        </div>
                        {% if ninja.occupation %}
                            <div class="occupation">{{ ninja.occupation }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 text-right"><span>
                {% if ninja.twitter %}
                    <a href="https://twitter.com/{{ ninja.twitter }}"> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                {% endif %}
                {% if ninja.instagram %}
                    <a href="https://www.instagram.com/{{ ninja.instagram }}"> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                {% endif %}
                </span></div>
                <!--TODO: badges?
                <div class="col-sm-12">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge badge-pill badge-secondary">Total Victory</span></li>
                        <li class="list-inline-item"><span class="badge badge-pill badge-secondary">Stage 3</span></li>
                        <li class="list-inline-item"><span class="badge badge-pill badge-secondary">Stage 2</span></li>
                        <li class="list-inline-item"><span class="badge badge-pill badge-secondary">Stage 1</span></li>
                        <li class="list-inline-item"><span class="badge badge-pill badge-secondary">City Finals</span></li>
                        <li class="list-inline-item"><span class="badge badge-pill badge-secondary">Qualifying</span></li>
                    </ul>
                </div>
                -->
            </div>
        </div>
        <ul id="tabs" class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Career Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Course Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Obstacle Statistics</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <label>Statistics</label>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Speed</th>
                        <th>Consistency</th>
                        <th>Success</th>
                        <th>Ninja Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Season 7</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">Career</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <label>Career Trend</label>
            <div>
                <canvas id="trend"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %} {{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<script src="{% static 'core/js/profile.js' %}"></script>
{% endblock %}
