{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>NR | {% block title %}{% endblock %}</title>
  <!-- Vendor CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/dataTables.bootstrap4.min.css' %}">
  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  {% block style %}
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">{logo}</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if page == 'index' %}active{% endif %}">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item {% if page == 'leaderboard' %}active{% endif %}">
          <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stats
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Seasons</a>
            <a class="dropdown-item" href="#">Courses</a>
            <a class="dropdown-item" href="#">Obstacles</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contribute</a>
        </li>
      </ul>
    </div>
  </nav>
    {% block content %} {% endblock %}
  <footer class="footer">
    <div class="container footer-wrapper">
      <p>
        © 2017 Joseph Kato, unless otherwise noted.
      </p>
    </div>
  </footer>
  {% block js %}
  <script src="{% static 'vendor/jquery-3.1.1.slim.min.js' %}"></script>
  <script src="{% static 'vendor/tether.min.js' %}"></script>
  <script src="{% static 'vendor/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  {% endblock %}
</body>

</html>
