/* GLOBAL STYLES
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* NAVBAR
-------------------------------------------------- */

.navbar {
  border-bottom: 1px solid #f1f1f1
}

.navbar {
  background-color: #ffffff;
}
.navbar .navbar-brand {
  color: rgba(0, 0, 0, .9);
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: rgba(0, 0, 0, .9);
}
.navbar .navbar-text {
  color: rgba(0, 0, 0, .9);
}
.navbar .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .9);
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: rgba(0, 0, 0, .9);
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: rgba(0, 0, 0, .9);
  background-color: #ffffff;
}
.navbar .navbar-toggle {
  border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: rgba(0, 0, 0, .9);
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: rgba(0, 0, 0, .9);
}
.navbar .navbar-link {
  color: rgba(0, 0, 0, .9);
}
.navbar .navbar-link:hover {
  color: rgba(0, 0, 0, .9);
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: rgba(0, 0, 0, .9);
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: rgba(0, 0, 0, .9);
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: rgba(0, 0, 0, .9);
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: rgba(0, 0, 0, .9);
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: rgba(0, 0, 0, .9);
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: rgba(0, 0, 0, .9);
    background-color: #ffffff;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: rgba(0, 0, 0, .9);
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: rgba(0, 0, 0, .9);
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: rgba(0, 0, 0, .9);
    background-color: #ffffff;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: rgba(0, 0, 0, .9);
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: rgba(0, 0, 0, .9);
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: rgba(0, 0, 0, .9);
    background-color: #ffffff;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: rgba(0, 0, 0, .9);
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: rgba(0, 0, 0, .9);
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: rgba(0, 0, 0, .9);
  background-color: #ffffff;
}

/* FOOTER
-------------------------------------------------- */

.footer-wrapper {
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
  height: 60px;
  color: #9E9E9E;
  text-align: center;
  font-size: 14px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}
